<div class="vdr" :style="style"
     :class="`${(active || isActive) ? 'active' : 'inactive'} ${contentClass ? contentClass: ''}`"
     @mousedown="bodyDown($event)"
     @touchstart="bodyDown($event)"
     @touchend="up($event)">
<!-- <input style="display: block;position:absolute;left:0;right:0;z-index:1000;">
<div data-v-5eff0fba="" contenteditable="true" class="draggable-block-text" style="font-family: NanumSquareRound; font-size: 22px; color: rgb(0, 3, 51); background: rgba(0, 0, 0, 0); padding: 4px 10px;">더블클릭 후, 문장입력</div> -->
    <slot></slot>
    <div
            v-for="(stick, index) in sticks"
            class="vdr-stick"
            :class="['vdr-stick-' + stick, isResizable ? '' : 'not-resizable']"
            @mousedown.stop.prevent="stickDown(stick, index, $event)"
            @touchstart.stop.prevent="stickDown(stick, index, $event)"
            :style="vdrStick(stick)">
    </div>

</div>
