<div class="vdr" :style="style"
     :class="`${(active || isActive) ? 'active' : 'inactive'} ${contentClass ? contentClass: ''}`"
     @mousedown="bodyDown($event)"
     @touchstart="bodyDown($event)"
     @touchend="up($event)">
    <slot></slot>
    <div
            v-for="(stick, index) in sticks"
            class="vdr-stick"
            :class="['vdr-stick-' + stick, isResizable ? '' : 'not-resizable']"
            @mousedown.stop.prevent="stickDown(stick, index, $event)"
            @touchstart.stop.prevent="stickDown(stick, index, $event)"
            :style="vdrStick(stick)">
    </div>

</div>
